.chatbox {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 20px;
  background: #eee;
  height: 100%;
}

.chat-messages {
  flex: 1 0 auto;
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0;
}

.chat-messages li {
  margin: 1px 0;
  /* display: flex; */
  word-break: break-all;
}

.message-author {
  margin-right: 5px;
  font-weight: 700;
}

.chat-form {
  flex: 0 0 auto;
  align-self: flex-end;
  width: 100%;
}

.chat-form > textarea {
  width: 100%;
  padding: 0.5rem;
  resize: none;
}

@media (max-width: 900px), (orientation: portrait) {
  .chatbox {
    width: 100vw;
  }
}
