.chatbox {
  width: 350px;
  background: #eee;
}

.chat-messages {
  margin: 20px;
}

.chat-form {
  width: 100%;
  margin: 20px;
}

@media (max-width: 900px), (orientation: portrait) {
  main {
    flex-direction: column;
  }

  .chatbox {
    width: 100vw;
  }
}
