.video-box {
  grid-area: video;
  display: grid;
  grid-template-areas:
    "queue vid"
    "queue ask";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 85px;
  background: silver;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-video {
  grid-area: vid;
  padding-bottom: 56.2%;
  position: relative;
  background: #333;
  overflow: hidden;
}

.video-buttons {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40px;
}

.video-buttons button {
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.4);
  border: none;
}

.popup-video {
  position: absolute;
  width: 20%;
  height: 30%;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.video-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.OT_publisher, .OT_subscriber {
  position: static;
  height: 100% !important;
  min-width: fit-content;
  min-height: fit-content;
}

.question-button {
  grid-area: ask;
  display: inline-block;
  margin: 20px auto;
  width: 150px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  background: #00A1E4;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  transition: all 0.2s ease-in-out;
}

.question-button:hover {
  background: none;
  border: 1px solid #00A1E4;
  color: #004968;
}

.queue-wait-text {
  grid: ask;
  padding: 30px;
  color: #004968;
  display: inline;
}

.queue__wrapper {
  grid-area: queue;
  overflow: hidden;
  background: #222;
  color: #fff;
  padding: 20px;
  overflow: hidden;
}

.queue__wrapper > button {
  margin-bottom: 1rem;
}

.queue__wrapper p {
  font-weight: 700;
}

.queue {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
  height: calc(100vh - 85px);
  max-height: none;
  overflow-y: scroll;
  padding: 0;
}

.short {
  height: calc(100vh - 140px);
}

.queue-item {
  list-style: none;
  padding: 10px
}

@media (max-width: 900px), (orientation: portrait) {
  .video-box {
    width: 100vw;
    height: auto;
    overflow: auto;
    grid-template-areas: "vid" "ask" "queue";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 85px auto;
  }

  .queue__wrapper {
    background: silver;
    color: #000;
  }

  .queue {
    height: auto;
    max-height: 30vh;
  }
}
