.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header, footer {
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  padding: 20px;
  background: #333;
  color: white;
}

<<<<<<< HEAD
main {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
=======
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.App2 {
  display: flex;
  justify-content: space-between;
>>>>>>> master
}
